<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" (click)="onCambiarComponente(0)">Ferreteria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" (click)="onCambiarComponente(1)">Agregar Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="onCambiarComponente(2)">Modificar Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="onCambiarComponente(3)">Listar Productos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <app-add-producto *ngIf="indiceComponente == 1"></app-add-producto>
    <app-update-producto *ngIf="indiceComponente == 2"></app-update-producto>
    <app-list-producto *ngIf="indiceComponente == 3"></app-list-producto>
  </div>
</div>